<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<title>GSB - Frais</title>
        <h1>Comptable - Suivre fiche frais</h1>
	</head>
	
	<body>
		<a href="{{ path('app_espace_comptable') }}">Acceuil</a>
		<a href="{{ path('app_valider') }}">Valider fiche frais</a>
		<a href="{{ path('app_comptable_deconnexion') }}">Se déconnecter</a>	
	</body>
	
</html>